In [77]:
from datetime import date
import json
import os
import re

import pandas as pd
import neattext as nfx

In [78]:
df = pd.read_csv(r'C:\Users\2003640\Desktop\TextAnalysisNlp\static\csv_files\cleandata\cleaned_data.csv')

In [79]:
def cleanTxt(text,num):
    text = text.lower()
    text = nfx.remove_userhandles(text)
    text = nfx.remove_emojis(text)
    text = nfx.remove_urls(text)
    text = re.sub(r'#', ' ', text)
    text = re.sub(r'\n', ' ', text)
    text = re.sub(r'&amp', '&', text)
    text = nfx.remove_stopwords(text)
    text = nfx.remove_puncts(text)
    text = nfx.remove_special_characters(text)
    text = re.sub(r'x000d',' ', text)
    if num == 1:
        text = re.sub(r'^[0-9]\w+','',text)
        text = nfx.remove_numbers(text)
    text = nfx.remove_multiple_spaces(text)
    text = text.strip()

    return text

In [80]:
df['clean_text']=df['text'].apply(cleanTxt, args=(1,))
df['keywords_text']=df['text'].apply(cleanTxt, args=(2,))

In [81]:
x = df.iloc[3]['text']

In [82]:
x = re.sub('[0-9]\w+','',x)
x

'@VodafoneUK  phone Nokia  , favourite phone IPhone 7 (my current phone )  favourite game -Snake #VodafoneTreats https://t.co/qDUED'

In [83]:
df.head()

,created_at,id,author_id,text,name,location,username,clean_text,label,keywords_text
0,2022-03-02T10:43:15.000Z,237240888,237240888,0.71Mbps download speed. Much worse than my ex...,Chris Jones,County Down UK,ChrisJonesBiz,download speed worse expectation,-1.0,071mbps download speed worse expectation
1,2022-02-28T18:47:35.000Z,41803296,41803296,@Danjones_uk @VodafoneUK 15 text messages and ...,Chris,"Altrincham, Cheshire. UK",redmeister81,text messages quietest notification sound got ...,-1.0,15 text messages quietest notification sound g...
2,2022-03-02T22:14:20.000Z,356726040,356726040,.@EE 18 minutes and still no answer? https://t...,Sarah,Blighty,misspheric,minutes answer,-1.0,18 minutes answer
3,2022-02-28T18:45:34.000Z,142358555,142358555,"@VodafoneUK 1st phone Nokia 6110 , favourite p...",LydiaGough ðŸ’—,West midlands UK,lydfp_bobbysmum,phone nokia favourite phone iphone my current ...,1.0,1st phone nokia 6110 favourite phone iphone 7 ...
4,2022-02-28T17:07:05.000Z,30891441,30891441,@VodafoneUK 1st phone was a Hagenuk _x000D_\r\...,Mark Lilley,Derby UK,Tig69,phone hagenuk favourite phone original motorol...,1.0,1st phone hagenuk favourite phone original mot...

In [1]:
import datetime
start_date = datetime.datetime.now() - datetime.timedelta(90)

In [2]:
start_date = start_date.strftime("%m/%d/%Y, %H:%M:%S")

In [5]:
start_date

AttributeError: 'str' object has no attribute 'strftime'

In [13]:
days={"January":"31",
"February":"28",
"March":"31",
"April":"30",	
"May":"31",	
"June":"30",
"July":"31",
"August":"31",
"September":"30",	
"October" :"31",
"November":"30",
"December":"31",}

In [7]:
date_=df.iloc[4]['created_at']

NameError: name 'df' is not defined

In [8]:
date_ ='2022-02-28T17:07:05.000Z'

In [9]:
# date_ = "2022-04-28T07:41:48.000Z"

In [10]:
from dateutil import parser
yourdate = parser.parse(date_)

In [11]:
# ("%A,%B,%Y") ='Monday,March,2022'
month = yourdate.strftime("%B")

In [14]:
week = 0
for k,v in days.items():
    if k == month:
        week += int(days[k])
print(f"{month} month has {week} days")

February month has 28 days

In [15]:
import datetime
start_date = datetime.datetime.now() - datetime.timedelta(week)

In [18]:
datetime.datetime.now()

datetime.datetime(2022, 4, 7, 12, 4, 25, 392959)

In [19]:
start_date

datetime.datetime(2022, 3, 10, 12, 3, 46, 213010)

In [16]:
start_date.strftime("%d-%B-%Y")

'10-March-2022'

In [75]:
yourdate.strftime("%D|%T")

'04/28/22|07:41:48'

In [76]:
yourdate.strftime("%B/%A/%Y, %H:%M:%S")

'April/Thursday/2022, 07:41:48'